<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Libros</title>
    <!-- Agregar la referencia a los archivos CSS de Bootstrap (localmente o a través de CDN) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	
    <div class="container mt-5">
        <h1 class="mt-5">Registro de Libro</h1>
        <form action="/libro/register" method="post">
            <div class="form-group">
                <label for="nombrelibro">Nombre del libro</label>
                <input type="text" class="form-control" id="nombrelibro" name="nombrelibro" placeholder="Ingrese el nombre del libro" required>
            </div>
            <div class="form-group">
                <label for="autor">Nombre del autor</label>
                <input type="text" class="form-control" id="autor" name="autor" placeholder="Ingrese el apellido del usuario" required>
            </div>
            <div class="form-group">
                <label for="fechapublicacion">Fecha de publicación</label>
                <input type="date" class="form-control" id="fechapublicacion" name="fechapublicacion" required>
            </div>
            <div class="form-group">
				<label for="id">Tipo de usuario</label>
				<select class="form-control" name="id">
    				<option th:each="tipolibro: ${tipolibro}" th:value="${tipolibro.codIdGenero}" th:text="${tipolibro.nombregenero}"></option>
				</select>
			</div>
            <button type="submit" class="btn btn-primary">Registrar Libro</button>
        </form>
    </div>
    <!-- Agregar la referencia a los archivos JavaScript de Bootstrap (localmente o a través de CDN) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>